################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UniVoting/Src/UniVoting.Admin/obj/Debug
