<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=.;Initial Catalog=VotingSystemV2;Integrated Security=True;MultipleActiveResultSets=True" name="VotingSystem" providerName="System.Data.Sqlclient" />
  </connectionStrings>
</configuration>