<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=localhost,1433;Network Library=DBMSSOCN;
        Initial Catalog=VotingSystemV2;User ID=sa;Password=23m@y1993;" name="VotingSystem" providerName="System.Data.Sqlclient" />
    <add name="Univoting.Reporting.Properties.Settings.VotingSystemV2"
         connectionString="Data Source=DUHO-PC;Initial Catalog=VotingSystemV2;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

