<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UniVoting.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="VotingSystem" connectionString="Server=localhost;Database=VotingSystemV2;Uid=root;Pwd='';SslMode=none;" providerName="MySql.Data.MySqlClient" />
    <add name="Univoting.Reporting.Properties.Settings.VotingSystemV2" connectionString="Server=localhost;Database=VotingSystemV2;Uid=root;Pwd='';SslMode=none;" providerName="MySql.Data.MySqlClient" />
    <!--<add connectionString="Data Source=.;Initial Catalog=VotingSystemV2;Integrated Security=True" name="VotingSystem" providerName="System.Data.Sqlclient"/>-->
    <!--<add name="Univoting.Reporting.Properties.Settings.VotingSystemV2" connectionString="Data Source=.;Initial Catalog=VotingSystemV2;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <UniVoting.WPF.Properties.Settings>
      <setting name="ElectionId" serializeAs="String">
        <value>3</value>
      </setting>
    </UniVoting.WPF.Properties.Settings>
  </applicationSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
