<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=.;Network Library=DBMSSOCN;Initial Catalog=VotingSystemV2;Integrated Security=True;MultipleActiveResultSets=True" name="VotingSystem" providerName="System.Data.Sqlclient" />
  </connectionStrings>
</configuration>