<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add connectionString="Data Source=localhost,1433;Network Library=DBMSSOCN;
        Initial Catalog=VotingSystemV2;User ID=sa;Password=23m@y1993;" name="Univoting.Reporting.Properties.Settings.VotingSystemV2" providerName="System.Data.Sqlclient" />
    </connectionStrings>
</configuration>

