<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Univoting.Reporting.Properties.Settings.VotingSystemV2"
             connectionString="Data Source=.;Network Library=DBMSSOCN;Initial Catalog=VotingSystemV2;Integrated Security=True;MultipleActiveResultSets=True" name="VotingSystem" providerName="System.Data.Sqlclient" />
    </connectionStrings>
</configuration>

