<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Univoting.Reporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
   <connectionStrings>
      <add name="Univoting.Reporting.Properties.Settings.VotingSystemV2"
         connectionString="Data Source=DUHO-PC;Initial Catalog=VotingSystemV2;Integrated Security=True"
         providerName="System.Data.SqlClient" />
   </connectionStrings>
   <userSettings>
      <Univoting.Reporting.Properties.Settings>
         <setting name="ElectionId" serializeAs="String">
            <value>1002</value>
         </setting>
      </Univoting.Reporting.Properties.Settings>
   </userSettings>
</configuration>

