<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net462" />
  <package id="Dapper.SimpleCRUD" version="1.13.0" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net462" />
  <package id="MySql.Data" version="8.0.10-rc" targetFramework="net462" />
</packages>