<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=localhost,1433;Network Library=DBMSSOCN;Initial Catalog = VotingSystemV2; User ID = sa; Password =23m@y1993;" name="VotingSystem" providerName="System.Data.Sqlclient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
